.aboutMe {
    background-color: white;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;

    .name {
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
    }

    .hello {
        font-size: 50px;
    }

    .iAm {
        font-size: 30px;
    }
}