.experienceList {
    background-color: white;
    height: 100%;
    display: flex;
    color: black;
    flex-direction: column;
    padding-bottom: 10px;

    .experienceTitle {
        font-size: 30px;
        font-family: 'Gilroy-ExtraBold';
        display: flex;
        align-items: flex-end;
    }

    .experience {
        align-self: center;
        flex-direction: column;
    }

    .experienceInfo {
        display: flex;
        align-items: flex-start;
        margin-bottom: 26px;

        .experienceCompany {
            .workYears {
                font-size: 16px;
            }

            .jobTitle {
                font-family: 'Inter-SemiBold';
                font-size: 22px;
            }

            .companyName {
                color: #0066ff;
                text-decoration: none;
                font-family: 'Inter-Bold';
            }
        }

        .experienceSkills {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .experienceLanguages {
        .default {
            border: 2px solid #1d1d1f;
            transition: all 350ms ease-in-out;
            background: rgba(0, 0, 0, 0);
            color: #1d1d1f;
            font-size: 16px;
            line-height: 1.23536;
            display: inline-block;
            font-weight: 600;
            letter-spacing: -.022em;
            font-family: 'Gilroy-ExtraBold';
            max-width: 150px;
            padding-left: 22px;
            padding-right: 22px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 22px;
        }

        .green {
            color: green;
            border: 2px solid green;
        }

        .pink {
            color: palevioletred;
            border: 2px solid palevioletred;
        }

        .purple {
            color: purple;
            border: 2px solid purple;
        }

        .blue {
            color: blue;
            border: 2px solid blue;
        }
    }
}

// mobile device
@media (max-width: 650px) {
    .experienceList {
        justify-content: center;

        .experienceTitle {
            font-size: 40px;
            padding: 20px 20px 0px 20px;

            span {
                margin-left: 10px;
            }
        }

        .experience {
            padding: 10px 20px 10px 20px;
        }

        .experienceInfo {
            max-width: 768px;
            margin-bottom: 5px;
            flex-direction: column;

            .experienceCompany {
                min-width: 150px;
                max-width: 250px;
                margin-right: 20px;
                font-size: 14px;

                .workYears {
                    font-size: 14px;
                    line-height: 32px;
                    font-family: 'Inter-Regular';
                    color: #333;
                }

                .jobTitle {
                    font-size: 16px;
                }

                .companyName {
                    font-size: 16px;
                    line-height: 32px;
                }
            }

            .experienceSkills {
                max-width: 450px;
                font-size: 16px;
                line-height: 28px;
            }
        }

        .experienceLanguages {
            display: flex;
            flex-flow: wrap;
            max-width: 768px;
            margin-left: 20px;
            padding: 20px 0;

            .default {
                font-size: 14px;
                line-height: 1.23536;
                display: inline-block;
                font-weight: 600;
                letter-spacing: -.022em;
                max-width: 150px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 4px;
                padding-bottom: 4px;
                border-radius: 22px;
                margin-right: 4px;
                margin-top: 4px;
            }
        }
    }
}

// tablet device
@media (min-width: 650px) {
    .experienceList {
        padding: 0 30px;
        align-items: center;
        scroll-snap-align: start;

        .experienceTitle {
            font-size: 30px;
            padding: 50px 50px 0px 50px;

            span {
                margin-left: 12px;
            }
        }

        .experience {
            padding: 0px 20px 0px 20px;
        }

        .experienceInfo {
            max-width: 768px;
            margin-bottom: 15px;

            .experienceCompany {
                min-width: 250px;
                max-width: 250px;
                margin-right: 20px;

                .workYears {
                    font-size: 20px;
                }

                .jobTitle {
                    font-size: 20px;
                }

                .city {
                    font-size: 18px;
                }
            }
        }

        .experienceLanguages {
            display: flex;
            justify-content: center;
            flex-flow: wrap;
            margin-left: auto;
            max-width: 500px;
            margin-right: auto;
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
}

// laptop device
@media (min-width: 650px) {
    .experienceList {
        scroll-snap-align: start;

        .experienceTitle {
            font-size: 60px;
            padding: 50px 50px 0px 50px;

            span {
                margin-left: 18px;
            }
        }

        .experience {
            padding: 0px 20px 0px 20px;
        }

        .experienceInfo {
            max-width: 1024px;
            margin-bottom: 20px;

            .experienceCompany {
                min-width: 270px;
                margin-right: 40px;
                line-height: 32px;

                .workYears {
                    font-size: 18px;
                    margin-top: 0;
                }

                .jobTitle {
                    font-size: 20px;
                    max-width: 320px;
                    line-height: 26px;
                }

                .city {
                    font-size: 16px;
                }

                .companyName {
                    font-size: 20px;
                }
            }

            .experienceSkills {
                max-width: 580px;
                font-size: 18px;
                font-family: 'Inter-Regular';
                line-height: 26px;
            }
        }

        .experienceLanguages {
            margin-bottom: 48px;
            max-width: 520px;

            .default {
                font-size: 16px;
                line-height: 1.23536;
                display: inline-block;
                font-weight: 600;
                letter-spacing: -.022em;
                font-family: 'Gilroy-ExtraBold';
                max-width: 150px;
                margin-bottom: 6px;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 6px;
                padding-bottom: 6px;
                border-radius: 22px;
                margin-right: 12px;
            }
        }
    }
}

// desktop device
@media (min-width: 1200px) {}

// bigger devices
@media (min-width: 1201px) {}