.experienceList {
    background-color: white;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    color: black;
    flex-direction: column;
    padding-bottom: 10px;

    .experienceTitle {
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
    }

    .experience {
        align-self: center;
        flex-direction: column;
    }

    .experienceInfo {
        display: flex;
        align-items: flex-start;
        margin-bottom: 25px;

        .experienceCompany {
            .workYears {
                font-size: 16px;
                margin-top: 10px;
            }

            .jobTitle {
                font-family: 'Montserrat-Regular';
                font-size: 24px;
            }

            .companyName {
                color: black;
                font-size: 22px;
                text-transform: uppercase;
                text-decoration: none;
                font-family: 'Montserrat-Bold';
            }
        }

        .experienceSkills {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .experienceLanguages {
        .default {
            border: 2px solid #1d1d1f;
            transition: all 350ms ease-in-out;
            background: rgba(0, 0, 0, 0);
            color: #1d1d1f;
            font-size: 17px;
            line-height: 1.23536;
            display: inline-block;
            font-weight: 600;
            letter-spacing: -.022em;
            font-family: "Menlo";
            max-width: 150px;
            padding-left: 22px;
            padding-right: 22px;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 22px;
        }

        .green {
            color: green;
            border: 2px solid green;
        }

        .pink {
            color: palevioletred;
            border: 2px solid palevioletred;
        }

        .purple {
            color: purple;
            border: 2px solid purple;
        }

        .blue {
            color: blue;
            border: 2px solid blue;
        }
    }
}

// mobile device
@media (max-width: 650px) {
    .experienceList {
        justify-content: center;

        .experienceTitle {
            font-size: 20px;
            padding: 20px 20px 0px 20px;
        }

        .experience {
            padding: 10px 20px 10px 20px;
        }

        .experienceInfo {
            max-width: 768px;
            margin-bottom: 15px;

            .experienceCompany {
                min-width: 150px;
                max-width: 250px;
                margin-right: 20px;

                .workYears {
                    font-size: 13px;
                }

                .jobTitle {
                    font-size: 13px;
                }

                .city {
                    font-size: 11px;
                }

                .companyName {
                    font-size: 14px;
                }
            }

            .experienceSkills {
                max-width: 450px;
                font-size: 13px;
            }
        }

        .experienceLanguages {
            display: flex;
            flex-flow: wrap;
            max-width: 768px;

            .default {
                font-size: 10px;
                line-height: 1.23536;
                display: inline-block;
                font-weight: 600;
                letter-spacing: -.022em;
                font-family: "Menlo";
                max-width: 150px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 4px;
                padding-bottom: 4px;
                border-radius: 22px;
                margin-bottom: 5px;
            }
        }
    }
}

// tablet device
@media (min-width: 650px) {
    .experienceList {
        align-items: center;

        .experienceTitle {
            font-size: 30px;
            padding: 50px 50px 0px 50px;
        }

        .experience {
            padding: 50px 20px 10px 20px;
        }

        .experienceInfo {
            max-width: 768px;
            margin-bottom: 15px;

            .experienceCompany {
                min-width: 250px;
                max-width: 250px;
                margin-right: 20px;

                .workYears {
                    font-size: 20px;
                }

                .jobTitle {
                    font-size: 20px;
                }

                .city {
                    font-size: 18px;
                }
            }

            .experienceSkills {
                max-width: 450px;
                font-size: 18px;
            }
        }

        .experienceLanguages {
            display: flex;
            flex-flow: wrap;
            max-width: 768px;

            .default {
                font-size: 13px;
                line-height: 1.23536;
                display: inline-block;
                font-weight: 600;
                letter-spacing: -.022em;
                font-family: "Menlo";
                max-width: 150px;
                padding-left: 22px;
                padding-right: 22px;
                padding-top: 7px;
                padding-bottom: 7px;
                border-radius: 22px;
                margin-bottom: 5px;
            }
        }
    }
}

// laptop device
@media (min-width: 1024px) {
    .experienceList {
        .experienceTitle {
            font-size: 30px;
            padding: 50px 50px 0px 50px;
        }

        .experience {
            padding: 40px 20px 0px 20px;
        }

        .experienceInfo {
            max-width: 1024px;
            margin-bottom: 15px;

            .experienceCompany {
                min-width: 370px;
                margin-right: 80px;

                .workYears {
                    font-size: 16px;
                }

                .jobTitle {
                    font-size: 18px;
                    max-width: 320px;
                }

                .city {
                    font-size: 16px;
                }
            }

            .experienceSkills {
                max-width: 500px;
                font-size: 18px;
            }
        }

        .experienceLanguages {
            display: flex;
            flex-flow: wrap;
            max-width: 768px;

            .default {
                font-size: 12px;
                line-height: 1.23536;
                display: inline-block;
                font-weight: 600;
                letter-spacing: -.022em;
                font-family: "Menlo";
                max-width: 150px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 22px;
                margin-bottom: 5px;
            }
        }
    }
}

// desktop device
@media (min-width: 1200px) {}

// bigger devices
@media (min-width: 1201px) {}