@import '_Index';
@import '_About';
@import '_Experience';
@import '_Personal';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
}

@media (max-width: 768px) {
    .App {
        .bottomTitle {
            color: white;
        }
    }

    .testDiv>div {
        min-height: 760px;
        height: unset !important;
    }
}

@media (min-width: 768px) {
    .bottomTitle {
        color: black;
        margin-bottom: 90px;
    }

    .testDiv>div {
        min-height: 760px;
        height: unset;
    }
}

// laptop device
@media (min-width: 1024px) {
    .bottomTitle {
        margin-bottom: 10px;
    }
}

.testDiv {
    height: 100px;
}