@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"), url("../Fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"), url("../Fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"), url("../Fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"), url("../Fonts/Montserrat-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.aboutMe {
  margin-top: auto;
  background-color: white;
  height: 100vh;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  padding: 25px 25px 10px 25px;
}

.aboutMe .name {
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .hello {
    font-size: 30px;
    line-height: 30px;
  }
  .iAm {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .hello {
    font-size: 68px;
    line-height: 68px;
  }
  .iAm {
    font-size: 30px;
  }
  .job {
    width: 450px;
  }
}

@media (min-width: 1024px) {
  .hello {
    font-size: 60px;
    line-height: 60px;
  }
  .iAm {
    font-size: 40px;
  }
}

.experienceList {
  background-color: white;
  height: 100%;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

.experienceList .experienceTitle {
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}

.experienceList .experience {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experienceList .experienceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
}

.experienceList .experienceInfo .experienceCompany .workYears {
  font-size: 16px;
  margin-top: 10px;
}

.experienceList .experienceInfo .experienceCompany .jobTitle {
  font-family: 'Montserrat-Regular';
  font-size: 24px;
}

.experienceList .experienceInfo .experienceCompany .companyName {
  color: black;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat-Bold';
}

.experienceList .experienceInfo .experienceSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experienceList .experienceLanguages .default {
  border: 2px solid #1d1d1f;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  background: rgba(0, 0, 0, 0);
  color: #1d1d1f;
  font-size: 17px;
  line-height: 1.23536;
  display: inline-block;
  font-weight: 600;
  letter-spacing: -.022em;
  font-family: "Menlo";
  max-width: 150px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 22px;
}

.experienceList .experienceLanguages .green {
  color: green;
  border: 2px solid green;
}

.experienceList .experienceLanguages .pink {
  color: palevioletred;
  border: 2px solid palevioletred;
}

.experienceList .experienceLanguages .purple {
  color: purple;
  border: 2px solid purple;
}

.experienceList .experienceLanguages .blue {
  color: blue;
  border: 2px solid blue;
}

@media (max-width: 650px) {
  .experienceList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experienceList .experienceTitle {
    font-size: 20px;
    padding: 20px 20px 0px 20px;
  }
  .experienceList .experience {
    padding: 10px 20px 10px 20px;
  }
  .experienceList .experienceInfo {
    max-width: 768px;
    margin-bottom: 15px;
  }
  .experienceList .experienceInfo .experienceCompany {
    min-width: 150px;
    max-width: 250px;
    margin-right: 20px;
  }
  .experienceList .experienceInfo .experienceCompany .workYears {
    font-size: 13px;
  }
  .experienceList .experienceInfo .experienceCompany .jobTitle {
    font-size: 13px;
  }
  .experienceList .experienceInfo .experienceCompany .city {
    font-size: 11px;
  }
  .experienceList .experienceInfo .experienceCompany .companyName {
    font-size: 14px;
  }
  .experienceList .experienceInfo .experienceSkills {
    max-width: 450px;
    font-size: 13px;
  }
  .experienceList .experienceLanguages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    max-width: 768px;
  }
  .experienceList .experienceLanguages .default {
    font-size: 10px;
    line-height: 1.23536;
    display: inline-block;
    font-weight: 600;
    letter-spacing: -.022em;
    font-family: "Menlo";
    max-width: 150px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 22px;
    margin-bottom: 5px;
  }
}

@media (min-width: 650px) {
  .experienceList {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .experienceList .experienceTitle {
    font-size: 30px;
    padding: 50px 50px 0px 50px;
  }
  .experienceList .experience {
    padding: 50px 20px 10px 20px;
  }
  .experienceList .experienceInfo {
    max-width: 768px;
    margin-bottom: 15px;
  }
  .experienceList .experienceInfo .experienceCompany {
    min-width: 250px;
    max-width: 250px;
    margin-right: 20px;
  }
  .experienceList .experienceInfo .experienceCompany .workYears {
    font-size: 20px;
  }
  .experienceList .experienceInfo .experienceCompany .jobTitle {
    font-size: 20px;
  }
  .experienceList .experienceInfo .experienceCompany .city {
    font-size: 18px;
  }
  .experienceList .experienceInfo .experienceSkills {
    max-width: 450px;
    font-size: 18px;
  }
  .experienceList .experienceLanguages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    max-width: 768px;
  }
  .experienceList .experienceLanguages .default {
    font-size: 13px;
    line-height: 1.23536;
    display: inline-block;
    font-weight: 600;
    letter-spacing: -.022em;
    font-family: "Menlo";
    max-width: 150px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 22px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .experienceList .experienceTitle {
    font-size: 30px;
    padding: 50px 50px 0px 50px;
  }
  .experienceList .experience {
    padding: 40px 20px 0px 20px;
  }
  .experienceList .experienceInfo {
    max-width: 1024px;
    margin-bottom: 15px;
  }
  .experienceList .experienceInfo .experienceCompany {
    min-width: 370px;
    margin-right: 80px;
  }
  .experienceList .experienceInfo .experienceCompany .workYears {
    font-size: 16px;
  }
  .experienceList .experienceInfo .experienceCompany .jobTitle {
    font-size: 18px;
    max-width: 320px;
  }
  .experienceList .experienceInfo .experienceCompany .city {
    font-size: 16px;
  }
  .experienceList .experienceInfo .experienceSkills {
    max-width: 500px;
    font-size: 18px;
  }
  .experienceList .experienceLanguages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    max-width: 768px;
  }
  .experienceList .experienceLanguages .default {
    font-size: 12px;
    line-height: 1.23536;
    display: inline-block;
    font-weight: 600;
    letter-spacing: -.022em;
    font-family: "Menlo";
    max-width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 22px;
    margin-bottom: 5px;
  }
}

.personalDiv {
  margin-top: auto;
  background-color: white;
  height: 100vh;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  padding: 25px 25px 10px 25px;
}

.personalDiv #container {
  -webkit-box-shadow: 0 1px 4px -1px grey;
          box-shadow: 0 1px 4px -1px grey;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  height: 450px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.personalDiv #container img {
  width: 100%;
  height: 100%;
}

.personalDiv #container .productDetails {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  height: 270px;
}

.personalDiv #container .productDetails .bigTitle {
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  text-transform: uppercase;
}

.personalDiv #container .productImage {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-image: url("../Images/funkoPops.jpeg");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: left;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  height: 100vh;
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  font-family: 'Montserrat-Medium';
}

.App .bottomTitle {
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat-Light';
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 768px) {
  .bottomTitle {
    margin-bottom: 90px;
  }
}

@media (min-width: 768px) {
  .bottomTitle {
    margin-bottom: 90px;
  }
}

@media (min-width: 1024px) {
  .bottomTitle {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=App.css.map */